* {
  margin: 0px;
}
.app {
  display: flex;
  justify-content: space-evenly;
  padding: 30px;
}

.app__header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
  color: white;
}
body {
  background-color: #99ddff;
}
.app__right {
  flex: 0.9;
}

.app__stats {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 990px) {
  .app {
    flex-direction: column;
  }
}
.confirmed {
  color: #cc1034;
}
.MenuItem {
  color: black;
}
.MenuItem.selected {
  /* Increase the specificity */
  color: blue;
}
